body { 
background-color: #132743;
  color: #ffb5b5;
  font-family: Georgia, Times New Roman, sans-serif;
}

.exp-header {
  text-align: center; 
  text-transform: uppercase;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  background-color: rgba(0,0,0, 0.1)
}

img{
  width: 200px;  
}

div {
  text-align: center;
}

.adjust-line-height {
  line-height: 1;
}
